**/.DS_Store
.bundle
.DS_Store
.rspec
.sass-cache/
app/stylesheets/*.css
capybara-*.html
config/*.sphinx.conf
coverage/*
coverage.data
db/*.sqlite3
db/sphinx/*
Gemfile.lock
log/*
public/assets/
public/images/icons-*.png
public/stylesheets/*.css
public/system/*
spec/controllers/tmp
tmp/*